name: CI
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  schedule:
    - cron: 0 0 * * *

# Disable PkgServer to avoid random issues.
# TODO: remove this when PkgServer feels better
env:
  JULIA_PKG_SERVER: ""

jobs:
  CI:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.3'
          - '1.4'
          - '1'
          - '^1.6.0-0' # TODO: remove this line once 1.6 is released
          # - '1.6'    # TODO: uncomment this line once 1.6 is released
          - 'nightly'
        os:
          - ubuntu-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - shell: julia {0}
        run: |
          if Base.VERSION < v"1.4"
              rm(joinpath(pwd(), ".ci", "Manifest.toml"); force = true)
          end
      - run: .ci/travis_before_script.sh
        env:
          JULIA_PKG_SERVER: ""
      - run: julia --project=.ci/ --color=yes -e 'import RegistryCI; RegistryCI.test()'
